.barra{
  background-color: rgb(97,103,232);
  }
  
.span{
  font-size: 60px;
  color: rgb(102,205,242);
  font: Roboto;
  }

  ul {
  
    list-style-type: none;
    margin: 10;
    padding: 0;
  }
  
  li {
    display: inline-block;
  }

  a {
    padding: 8px;
    background-color: rgb(103,219,165);
  }

  .texto{
    font:Roboto
  }

  
