* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  .cabecera{
    width: 100%;
    height: 100px;
    background-color:springgreen;
    margin: auto;
   /* margin-top: 0px;*/
    padding: 10px 30px;
    border:none;
  
    }
    .cabecera ul {
      width: 100%;
      height: 40px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content:end;
      
    }
    .cabecera button {
      width: auto;
      height: auto;
      background: blue;
      border: 2px solid #04c9fa;
      margin: 5px;
      padding: 2px 5px;
      font-size: 15px;
      color: white;
      
    }
  
    .cabecera button:hover {
      background: red;
      color:black;
    }
  