* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  
}

.cabecera{
  width: 100%;
  height: 100px;
  background-color:springgreen;
  margin: auto;
  margin-top: 0px;
  padding: 10px 30px;
  border:none;

  }
  .cabecera ul {
    width: 100%;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:end;
    
  }
  .cabecera button {
    width: auto;
    height: auto;
    background: #017bab;
    border: 2px solid #04c9fa;
    margin: 5px;
    padding: 2px 5px;
    
  }

  .cabecera button:hover {
    background: red;
  }

  .cabecera a {
    font-size: 15px;
    color: white;
  }
  .cabecera h1 {
    width: 30%;
    height: 30px;
    position:absolute;
    display: flex;
    align-items:center;
    justify-content:left;
    padding: 10px 30px;
    margin-top: 5px;
    font-size: auto;
    color: rgb(0, 89, 255);
  }
 
  .footer{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:springgreen;
  color: white;
  text-align:left;
  padding: 10px 10px
  }
  .nav-footer-navigation a {
    color: white;
    /*text-decoration:none;*/
    font-size: 14px;
    margin: 5px;
      
  }
  