@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #6167e8;
}

html {
  height: 100%;
}

.contenedor-lista-producto {
  display: block;
  margin: 50px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 50px auto;
  width: 58%;
  box-shadow: 2px 2px 5px 3px black;
}

.contenedor-lista-producto h2 {
  display: block;
  margin: 10px auto 50px;
  padding: 0;
  font-size: 30px;
  color: #66cdf2;
  text-align: center;
}

.contenedor-lista-producto .elemento input, textarea, select {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  cursor: auto;
}

.contenedor-lista-producto .elemento option {
  background-color: #6167e8;
}

.contenedor-lista-submenu{
  display: none;
  margin: 4% auto;
  padding: 1em;
}

.contenedor-lista-interno-productos{
  display: flex;
  justify-content: space-between;
}

.contenedor-lista-informacion .contenedor-lista-producto1 {
  width: 48%;
  height: auto;
}

.contenedor-lista-informacion .contenedor-lista-producto2 {
  width: 48%;
  height: auto;
}

.fuente_roboto {
  font-family: "Roboto", sans-serif; /*Fuente importada*/
}

.fuente_roboto h2 {
  font-weight: bold;
}

div.contenedor-lista-producto1 input[type="number"]::-webkit-inner-spin-button,
div.contenedor-lista-producto1 input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.contenedor-lista-producto1 input[type="number"] {
  -moz-appearance: textfield;
}

.contenedor-lista-producto .contenedor-lista-informacion {
  display: block;
  justify-content: space-between;
  margin: 4% auto;
  background-color: #eee;
}

.contenedor-lista-producto .contenedor-lista-informacion a {
  text-decoration: none;
  display: block;
  background: #ddd;
  line-height: 2.5;
  padding: 0 1em;
  color: steelblue;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.contenedor-lista-informacion div:target {
  display: block;
}

.btn-actualizar {
  display: inline-block;
  background: #67dba5;
  margin-top: 3px;
  padding: 5px;
  cursor: pointer;
}

.btn-actualizar:hover {
  background-color: #50a87f;
}

.btn-actualizar:hover:active {
  background: #25f895;
}

.contenedor-lista-buscar {
  display: flex;
  margin: 4% auto;
}

i {
  padding: 10px 13px;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid;
}

.contenedor-lista-producto .buscar-producto {
  display: inline-block;
  border-left: none;
  background-color: white;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.btn-buscar {
  display: inline;
  background-color: #67dba5;
  width: 10%;
  padding: 10px;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.btn-buscar:hover {
  background-color: #50a87f;
}

.btn-buscar:hover:active {
  background: #25f895;
}
